---
import Layout from '../layouts/layout.astro';
import Banner from '../components/banner.svelte';
import Card from '../components/card.svelte';
---

<Layout title="Academics">
	<div>
		<Banner title="Academics" client:only="svelte">
	</div>
	<div class="grid grid-flow-dense grid-cols-2 gap-6 p-8">
		<div>
			<Card title="California State University San Marcos: B.S. Electrical Engineering" desc="Accepted to attend August 2024 to May 2026" link="/portfolio/pdfs/csusm.pdf" client:only="svelte">
		</div>
		<div>
			<Card title="Palomar College" desc="GPA: 3.795" link="/portfolio/pdfs/palomar.pdf" client:only="svelte">
		</div>
		<div>
			<Card title="Western Medical Training Center: 84 Hours EKG / Telemetry Technical Program" desc="Achieved a 92.82% grade" link="/portfolio/pdfs/wmtc.pdf" client:only="svelte">
		</div>
		<div>
			<Card title="Mission Vista High School" desc="Graduated with high school diploma and a 3.7963 GPA" link="/portfolio/pdfs/mvhs.pdf" client:only="svelte">
		</div>
	</div>
</Layout>
