---
import Layout from '../layouts/layout.astro';
import Banner from '../components/banner.svelte';
import Card from '../components/card.svelte';
---

<Layout title="Certifications">
	<div>
		<Banner title="Certifications" client:only="svelte">
	</div>
	<div class="grid grid-flow-dense grid-cols-2 gap-6 p-8">
		<div>
			<Card title="American Heart Association: BLS Provider" desc="Issued 7/13/2022 to be renewed 7/2024" link="/portfolio/pdfs/ahabls.pdf" client:only="svelte">
		</div>
		<div>
			<Card title="AWS Cloud Practitioner" desc="Expired" client:only="svelte">
		</div>
	</div>
</Layout>