---
import Layout from '../layouts/layout.astro';
import Banner from '../components/banner.svelte';
import Card from '../components/card.svelte';
---

<Layout title="Expierence">
	<div>
		<Banner title="Expierence" client:only="svelte">
	</div>
	<div class="grid grid-flow-dense grid-cols-2 gap-6 p-8">
		<div class="col-span-2">
			<Card title="Samtec" desc="Electrical Engineering Co-op" client:only="svelte">
		</div>
	</div>
</Layout>
