---
import Layout from '../layouts/layout.astro';
import Hero from '../components/hero.svelte';
import Card from '../components/card.svelte';
import Text from '../components/text.svelte';
---

<Layout title="Joshua Hucul's Portfolio">
	<div>
		<Hero title="Joshua Hucul's Portfolio" subt="Organized and adaptive problem solving" client:only="svelte">
	</div>
	<div>
		<Text content="I am an organized and adaptive problem solver with high-level collaborative and independent working skills. I developed these skills through hands-on labs and extensive practice exercises. This process additionally led me to develop an ability to organize and aid with work in a collaborative setting, while still contributing to the current task. During this time, an enthusiasm for organized and thorough documentation also grew." client:only="svelte">
	</div>
	<div class="grid grid-flow-dense grid-cols-2  gap-6 pb-8 px-8">
		<div>
			<Card title="GitLab" desc="Primary place for my software development projects" link="https://gitlab.com/JHucul" client:only="svelte">
		</div>
		<div>
			<Card title="Github" desc="Secondary place for my software development projects" link="https://github.com/JHucul" client:only="svelte">
		</div>
	</div>
</Layout>
