---
import Layout from '../layouts/layout.astro';
import Banner from '../components/banner.svelte';
import Card from '../components/card.svelte';
---

<Layout title="Programming">
	<div>
		<Banner title="Online Computer Programming Learning Accounts" client:only="svelte">
	</div>
	<div class="grid grid-flow-dense grid-cols-2 gap-6 p-8">
		<div>
			<Card title="freeCodeCamp" desc="&quot;Free Code Camp's open source community help you build a job-worthy portfolio of real apps used by real people, while helping nonprofits&quot;" link="https://www.freecodecamp.org/fcc163a6eb3-7de8-49ab-bdbe-3dc96d7bb93d" client:only="svelte">
		</div>
		<div>
			<Card title="exercism" desc="&quot;Download and solve practice problems in over 30 different languages. For code newbies and experienced programmers&quot;" link="https://exercism.org/profiles/JHucul" client:only="svelte">
		</div>
		<div class="col-span-2">
			<Card title="Kaggle" desc="&quot;Platform for data-related competitions&quot;" link="https://www.kaggle.com/jhucul" client:only="svelte">
		</div>
	</div>
</Layout>