---
import Layout from '../layouts/layout.astro';
import Banner from '../components/banner.svelte';
import Card from '../components/card.svelte';
---

<Layout title="Projects">
	<div>
		<Banner title="Projects" client:only="svelte">
	</div>
	<div class="grid grid-flow-dense grid-cols-2 gap-6 p-8">
		<div>
			<Card title="Engineering Notebook" desc="Detailed LaTeX documentation of my personal projects stored on Overleaf" link="https://www.overleaf.com/read/smrmfdymqknq#958c38" client:only="svelte">
		</div>
		<div>
			<Card title="Python Random Forest Model" desc="Random forest regression model to predict power usage" link="https://www.kaggle.com/code/jhucul/power-prediction" client:only="svelte">
		</div>
		<div>
			<Card title="Portfolio Website" desc="This website made with: Tailwind CSS, Svelte, and Astro; along with pieces of Typescript and Javascript" link="https://gitlab.com/JHucul/portfolio" client:only="svelte">
		</div>
		<div>
			<Card title="Webfsh" desc="Online chat program made during web programming course with two classmates using GitHub" link="https://github.com/JHucul/CS4Proj" client:only="svelte">
		</div>
		<div class="col-span-2">
			<Card title="Dual Voltage Detector" desc="Designed and prototyped a dual voltage detector" link="/portfolio/pdfs/DualVoltageDetector.pdf" client:only="svelte">
		</div>
	</div>
</Layout>