---
import Layout from '../layouts/layout.astro';
import Banner from '../components/banner.svelte';
import Card from '../components/card.svelte';
---

<Layout title="Skills">
	<div>
		<Banner title="Skills" client:only="svelte">
	</div>
	<div class="grid grid-flow-dense grid-cols-2 gap-6 p-8">
		<div class="col-span-2">
			<Card title="Computer Programming" desc="Took classes in Java and self-taught a variety of programming languages such as Python using online resources" link="/portfolio/programming/" client:only="svelte">
		</div>
	</div>
</Layout>