<script lang="ts">
  export let title: string;
  export let desc: string;
  export let link: string = "";
	function redirect(event) {
    if(link != ""){
      if(!link.includes('://') && !link.includes('.pdf')){
        window.open(link, '_self');
      }
      else{
        window.open(link, '_blank').focus();
      }
    }
	}
</script>

<button class="bg-slate-300 h-max w-full border-solid border-2 border-black rounded-md hover:bg-black hover:text-white" on:click={redirect}>
  <div class="p-2">
    <h1 class="text-xl font-bold">{title}</h1>
    <p>{desc}</p>
  </div>
</button>