<div class="flex flex-row-reverse p-6 gap-8 bg-slate-300 h-fit">
    <span>Made with <a href="https://astro.build/" target="_blank"><span class="underline hover:text-white active:text-transparent">Astro</span></a>, 
    <a href="https://svelte.dev/" target="_blank"><span class="underline hover:text-white active:text-transparent">Svelte</span></a>, 
    <a href="https://tailwindcss.com/" target="_blank"><span class="underline hover:text-white active:text-transparent">Tailwind CSS</span></a>,
    <a href="https://www.typescriptlang.org/" target="_blank"><span class="underline hover:text-white active:text-transparent">Typescript</span></a>, and
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><span class="underline hover:text-white active:text-transparent">Javascript</span></a></span>
</div>