<div class="columns-auto border-solid border-black pt-6">
    <button class="mb-4 ml-4 rounded-lg bg-slate-300 p-2 border-solid border-2 border-black hover:bg-black hover:text-white w-fit" onclick="window.location.href='/portfolio/';">Home</button>
    <button class="mb-4 ml-4 rounded-lg bg-slate-300 p-2 border-solid border-2 border-black hover:bg-black hover:text-white w-fit" onclick="window.location.href='/portfolio/projects/';">Projects</button>
    <button class="mb-4 ml-4 rounded-lg bg-slate-300 p-2 border-solid border-2 border-black hover:bg-black hover:text-white w-fit" onclick="window.location.href='/portfolio/skills/';">Skills</button>
    <button class="mb-4 ml-4 rounded-lg bg-slate-300 p-2 border-solid border-2 border-black hover:bg-black hover:text-white w-fit" onclick="window.location.href='/portfolio/expierence/';">Expierence</button>
    <button class="mb-4 ml-4 rounded-lg bg-slate-300 p-2 border-solid border-2 border-black hover:bg-black hover:text-white w-fit" onclick="window.location.href='/portfolio/certifications/';">Certifications</button>
    <button class="mb-4 ml-4 rounded-lg bg-slate-300 p-2 border-solid border-2 border-black hover:bg-black hover:text-white w-fit" onclick="window.location.href='/portfolio/academics/';">Academics</button>
</div>