<script lang="ts">
  export let title: string;
  export let subt: string;
</script>

<div class="bg-slate-300 h-96 w-screen grid text-center place-items-center">
  <div>
    <h1 class="text-4xl">{title}</h1>
    <h2 class="text-xl">{subt}</h2>
  </div>
</div>