---
interface Props {
	title: string;
}
const { title } = Astro.props;
import Header from '../components/header.svelte';
import Footer from '../components/footer.svelte';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div>
			<Header client:only="svelte">
		</div>
		<div>
			<slot />
		</div>
		<div>
			<Footer client:only="svelte">
		</div>
	</body>
</html>